.container {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

.main h1 {
  margin-bottom: .8rem;
}

.task {
  border: 1px solid #909090;
  padding: .8rem;
  line-height: 130%;
  border-radius: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task p {
  white-space: pre-wrap;
  width: 100%;
}

.commentsContainer {
  margin: 1.2rem 0;
  width: 100%;
}

.commentsContainer h2 {
  margin: .8rem 0;
}

.commentsContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: 100%;
  padding: .6rem 0;
  border-radius: .2rem;
  font-size: 1.1rem;
  background-color: var(--color-green);
  color: #f0f0f0;
}

.button:hover {
  background-color: var(--color-green-hover);
}

.button:disabled {
  cursor: not-allowed;
  filter: opacity(70%);
}

.button:disabled:hover {
  background-color: var(--color-green);
}

.comment {
  border: 1px solid #c9c9c9;
  border-radius: .5rem;
  padding: .6rem;
  margin-bottom: 2rem;
}

.headComment {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.commentLabel {
  background-color: #dbdbdb;
  padding: .2rem .3rem;
  border-radius: .3rem;
}

.trash {
  border-radius: .3rem;
  background-color: #ea3140;
  padding: 2px;
}

.trash:hover {
  background-color: #da5d68;
}

.comment p {
  white-space: pre-wrap;
}